<nav class="navbar navbar-dark bg-dark shadow sticky-top vw-100">
  <div class="container-fluid px-lg-5">
    <a class="navbar-brand" href="#about">
      <img src="/src/images/logo.png" alt="logo" width="48" height="48" class="rounded-circle" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link active uppercase fs-3 mt-5" aria-current="page" href="#about"
            onclick="movePageTo('about')">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3 mt-3" href="#">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3 mt-3" href="#depositions" onclick="movePageTo('depositions')">Depoimentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3 mt-3" href="#eventos">Eventos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fs-3 dropdown-toggle mt-5 amarelo text-center text-dark" href="#" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Doação
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item fs-3" href="#">Doação por pix</a>
            </li>
            <li>
              <a class="dropdown-item fs-3" href="#">Doação de alimentos</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
              <a class="dropdown-item fs-3" href="/src/screens/">Volutariado</a>
            </li>
          </ul>

          <hr />
        </li>

        <hr class="line mb-0" />

        <li class="nav-item mt-0 align-middle h-auto">
          <a class="nav-link fs-3 mt-3" href="/src/screens/area51.html">Área restrita <img
              src="/src/images/lock.svg" /></a>
        </li>

        <li class="nav-item mt-3"> <a class="nav-link fs-3 mx-2" target="_blank" href="https://youtube.com"><img
              width="36px" src="/src/images/youtube.svg" alt="YouTube" />
          </a>
          <a class="nav-link fs-4" target="_blank" href="https://instagram.com">
            <img width="36px" src="/src/images/instagram.svg" alt="Instagram" class="mx-2" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>